@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <breadcrumb-list>
        <breadcrumb>
            <breadcrumb-anchor asp-page="/index">
                Here is my razor page index

            </breadcrumb-anchor>
        </breadcrumb>
        <breadcrumb>
            <breadcrumb-anchor asp-page="/about">
                Here is the about razor page
            </breadcrumb-anchor>
        </breadcrumb>
    </breadcrumb-list>
</head>
<body>
</body>
</html>
